@font-face {
  font-family: windsor;
  src: url('/Windsor.ttf');
}

/*################################ Base Styles ################################*/

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

nav {
  color: #fff;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 85%;
  align-items: center;
  justify-content: space-between;
  position: absolute;
}

nav h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

nav p {
  margin-left: 3vw;
  font-weight: bold;
}

/*############################## Utility Classes ##############################*/

.windsor {
  font-family: 'windsor', serif;
}

.flex {
  display: flex;
}

/*################################ Section One ################################*/

.one {
  background-color: #14532d;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.portrait {
  width: 35vw;
  height: 80vh;
  background-color: #fdba74;
  background-image: url('img/rachel-hero.png');
  background-size: cover;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
}
