/*################################ Custom Fonts ###############################*/

@font-face {
  font-family: windsor;
  src: url('fonts/Windsor.ttf');
}

@font-face {
  font-family: poppins;
  src: url('fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: poppinsBold;
  src: url('fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: poppinsBlack;
  src: url('fonts/Poppins-Black.ttf');
}

/*################################ Base Styles ################################*/

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'poppins', sans-serif;
}

nav {
  color: #fff;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 85%;
  align-items: center;
  justify-content: space-between;
  position: absolute;
}

nav h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

nav p {
  margin-left: 3vw;
  font-weight: bold;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

/*############################## Utility Classes ##############################*/

.windsor {
  font-family: 'windsor', serif;
}

.poppins-bold {
  font-family: 'poppinsBold', sans-serif;
}

.poppins-black {
  font-family: 'poppinsBlack', sans-serif;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*################################ Section One ################################*/

.one {
  background-color: #14532d;
  background-image: radial-gradient(#49855b 0.5px, transparent 0.5px),
    radial-gradient(#49855b 0.5px, #14532d 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: #fff;
}

/* Navbar */

@media only screen and (max-device-width: 1024px) {
  .nav-right {
    display: none;
  }
}

@media only screen and (min-device-width: 1025px) {
  .outer-menu {
    display: none;
  }
}

/* Hamburger Menu */

.outer-menu {
  position: fixed;
  top: 0;
  left: 70vw;
  z-index: 1;
}
.outer-menu .checkbox-toggle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0;
}
.outer-menu .checkbox-toggle:checked + .hamburger > div {
  transform: rotate(135deg);
}
.outer-menu .checkbox-toggle:checked + .hamburger > div:before,
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  opacity: 0;
}
.outer-menu .checkbox-toggle:checked ~ .menu {
  pointer-events: auto;
  visibility: visible;
}
.outer-menu .checkbox-toggle:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 0.75s;
}
.outer-menu .checkbox-toggle:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.outer-menu .checkbox-toggle:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
.outer-menu .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 0.5em 1em;
  border-radius: 0 0.12em 0.12em 0;
  cursor: pointer;
  transition: box-shadow 0.4s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 5px;
  background: #fefefe;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .hamburger > div:before,
.outer-menu .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  left: 0;
  width: 100%;
  height: 5px;
  background: inherit;
  transition: all 0.4s ease;
}
.outer-menu .hamburger > div:after {
  top: 10px;
}
.outer-menu .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  outline: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .menu > div {
  width: 200vw;
  height: 200vw;
  color: #fefefe;
  background: rgba(20, 83, 45, 0.97);
  border-radius: 50%;
  transition: all 0.4s ease;
  flex: none;
  transform: scale(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
  overflow-y: auto;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .menu > div > div > ul {
  list-style: none;
  padding: 0 1em;
  margin: 0;
  display: block;
  max-height: 100vh;
}
.outer-menu .menu > div > div > ul > li {
  padding: 0;
  margin: 1em;
  font-size: 24px;
  display: block;
}
.outer-menu .menu > div > div > ul > li > a {
  position: relative;
  display: inline;
  cursor: pointer;
  transition: color 0.4s ease;
}
.outer-menu .menu > div > div > ul > li > a:hover {
  color: #e5e5e5;
}
.outer-menu .menu > div > div > ul > li > a:hover:after {
  width: 100%;
}
.outer-menu .menu > div > div > ul > li > a:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -0.15em;
  left: 0;
  width: 0;
  height: 5px;
  background: #e5e5e5;
  transition: width 0.4s ease;
}

/* Portrait */

.portrait {
  width: 35vw;
  height: 80vh;
  background-color: #fdba74;
  background-image: url('img/rachel-hero.png');
  background-size: cover;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
}

@media only screen and (max-device-width: 1024px) {
  .portrait {
    width: 80vw;
    background-position: center;
  }
}

.portrait-details {
  margin-top: 30vh;
  margin-left: 20vw;
  position: relative;
}

@media only screen and (max-device-width: 1024px) {
  .portrait-details {
    margin-top: 50vh;
    margin-left: 10vw;
  }
}

.portrait-details h1 {
  font-size: 5rem;
}

@media only screen and (max-device-width: 1024px) {
  .portrait-details h1 {
    font-size: 3rem;
    color: #882223;
  }
}

/* Circle w/ Spinning Text */

.circle {
  width: 15vw;
  height: 15vw;
  border-radius: 100%;
  background-color: #fece16;
  margin-left: 40vw;
  margin-top: -30vh;
  color: #000;
  font-weight: bold;
}

@media only screen and (max-device-width: 1024px) {
  .circle {
    width: 30vw;
    height: 30vw;
    margin-left: 55vw;
    margin-top: -15vh;
  }
}

.circle text {
  font-family: 'poppinsBlack', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.circle svg {
  width: 30vw;
  height: 30vw;
  margin-left: -7.5vw;
  margin-top: -7.5vw;

  -webkit-animation-name: rotate;
  -moz-animation-name: rotate;
  -ms-animation-name: rotate;
  -o-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  -ms-animation-duration: 5s;
  -o-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0);
  }
}
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(360deg);
  }
  to {
    -moz-transform: rotate(0);
  }
}
@-ms-keyframes rotate {
  from {
    -ms-transform: rotate(360deg);
  }
  to {
    -ms-transform: rotate(0);
  }
}
@-o-keyframes rotate {
  from {
    -o-transform: rotate(360deg);
  }
  to {
    -o-transform: rotate(0);
  }
}
@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}
